*~
/*-[0-9][0-9].xml
archive.json
.directory
draft-ietf-ace-key-groupcomm-oscore.xml
Gemfile.lock
/.gems/
*.html
issues.json
/lib
lib
/node_modules/
package-lock.json
*.pdf
pulls.json
*.redxml
.refcache
/.refcache
report.xml
*.swp
.tags
.targets.mk
/.targets.mk
*.txt
*.upload
/.venv/
venv/
/versioned/
/.vscode/
!requirements.txt
